premake5.exe
premake5
out/
solutions/
cmake-build-debug/
cmake-build-release/
.idea/
.DS_Store
.vscode/
*.sln
*.vcxproj
CMakeFiles/
Debug/
Release/
msagent.dir/
gmcl_msagent.dir/
ZERO_CHECK.dir/
ALL_BUILD.dir/
win32/
CMakeCache.txt
.vs/msagent/CopilotIndices/17.14.1231.31060/CodeChunks.db
.vs/msagent/CopilotIndices/17.14.1231.31060/SemanticSymbols.db
.vs/msagent/FileContentIndex/af9a929c-addd-4223-b2f6-264402af8402.vsidx
.vs/msagent/FileContentIndex/dd8c69da-35e5-44d6-b5ef-eb2b104d70d7.vsidx
.vs/msagent/v17/.suo
.vs/msagent/v17/Browse.VC.db
.vs/msagent/v17/Browse.VC.db-shm
.vs/msagent/v17/Browse.VC.db-wal
.vs/msagent/v17/Browse.VC.opendb
.vs/msagent/v17/DocumentLayout.backup.json
.vs/msagent/v17/DocumentLayout.json
.vs/msagent/v17/ipch/AutoPCH/39b852111139e095/LUA_API.ipch
.vs/msagent/v17/ipch/AutoPCH/3cce3622664c1ae6/LUA_API.ipch
.vs/msagent/v17/ipch/AutoPCH/7b9b7626147e85cb/LUA_API.ipch
.vs/msagent/v17/ipch/AutoPCH/ef099b21b4c5d470/LUA_API.ipch
.vs/msagent/v17/Solution.VC.db
.vs/msagent/v17/Solution.VC.db-shm
.vs/msagent/v17/Solution.VC.db-wal
gmod-module-base/ALL_BUILD.vcxproj.filters
msagent.vcxproj.filters
msagent.vcxproj.user
ZERO_CHECK.vcxproj.filters
gmod-module-base/include/cmake_install.cmake
gmod-module-base/examples/MetaTable/MetaTable.vcxproj.filters
gmod-module-base/examples/MetaTable/cmake_install.cmake
gmod-module-base/examples/HelloWorld/HelloWorld.vcxproj.filters
gmod-module-base/examples/HelloWorld/cmake_install.cmake
gmod-module-base/cmake_install.cmake
gmod-module-base/ALL_BUILD.vcxproj.filters
